[pylint]
disable=
    consider-using-f-string,
    f-string-without-interpolation,
    line-too-long,
    logging-format-interpolation,
    missing-function-docstring,
good-names=
    sz-sdk-json-type-definition
ignore=
    __init__.py,
notes=
    FIXME,
